!!!
%html
  %head
    %title New Earth Project
    %meta{content: "text/html; charset=US-ASCII", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", name: "viewport"}/
    
    = render partial: 'shared/base_assets'

    = yield :head
    
  %body{id: current_section, class: current_section}
    #wrap
      
      = render 'layouts/top_menu'

      
      -#= render 'layouts/header'
      = render 'layouts/breadcrumbs'

      = render partial: 'layouts/flash_messages', flash: flash

      #content
        .inner-wrap
          = yield

      = render 'layouts/footer'

