!!!
%html
  %head
    %title New Earth Project | #{this_section}
    %meta{content: "text/html; charset=US-ASCII", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", name: "viewport"}/
    = init_static_assets "base"
    = yield :head

  %body{id: section_slug, class: [section_slug, subsection_slug]}
   
    = render partial: 'layouts/top_menu'
    = render partial: 'layouts/header'
    = yield :menu
    = render_breadcrumbs

    #content.container
      .inner-wrap
        = flash_messages
        = yield

    = render 'layouts/footer'