!!!
%html
  %head
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title New Earth Project - #{current_title}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = yield :head

  %body{id: current_section}
    = render 'layouts/top_menu'

    %header#main
      .title-row
        .title= current_title

        .logo-wrapper
          %a.logo{href: root_path}

        .section
          %span.section-text= current_subtitle
          %i.institute-icon


      .spacer

      =# render partial: 'layouts/main_menu'
      = yield :menu

      .breadcrumbs
        you are here > home > about

    .container
      = yield

    = render 'layouts/footer'
