!!!
%html
  %head
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title New Earth Project - #{current_title}
    = init_static_assets "base"
    = yield :head
  %body{:id => current_section, :class => current_section, 'data-spy'=>'scroll', 'data-target'=>'#sidenav-wrapper'}

   = render partial: 'layouts/top_menu'

    %header#main
      .title-row
        .title
          = current_title
        .logo-wrapper
          %a.logo{href: root_path}
        .section
          %span.section-text= current_subtitle
          %i.institute-icon


      = yield :menu
    = render_breadcrumbs

    .container
      = yield

    = render 'layouts/footer'