!!!
%html
  %head
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title New Earth Project - #{@title}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = yield :head

  %body
    = render partial: 'layouts/top_menu'
    %header#main
      .title-row
        .title= @title

        .logo-wrapper
          .logo
            .logo-image

        .section
          %span.section-text= @section
          %i.institute-icon


      .spacer

      = render partial: 'layouts/main_menu'

      .breadcrumbs
        you are here > home > about

    .container
      = yield

    %footer
