!!!
%html
  %head
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title New Earth Project - #{@title}
    = init_static_assets "base"

  %body
    = render partial: 'layouts/top_menu'
    %header#main
      .title-row
        .title= @title

        .logo-wrapper
          .logo
            .logo-image
            new earth project

        .section
          %span.section-text= @section
          %i.institute-icon


      .spacer

      = render partial: 'layouts/main_menu'

      .breadcrumbs
        you are here > home > about

    .container
      = yield

    %footer
