!!!
%html
  %head
    %title Portal
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag    "users", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  
  %body
    .top-nav
      %ul.nav.navbar-nav
        %li.dropdown
          %a.dropdown-toggle.open{href: '#', 'data-toggle' => 'dropdown'} 
            new earth institute
            %i.icon-chevron-sign-down
          %ul.dropdown-menu
            %li
              %a{href: '#'} location1
            %li
              %a{href: '#'} location2

    %header
      .title-row
        .title= @title

        .logo-wrapper
          .logo
            .logo-image
            new earth project

        .section
          %span.section-text= @section
          %i.institute-icon


      .spacer

      %nav.navbar-wrapper
        .navbar-collapse
          %ul.nav.navbar-nav
            - menu_for(@title).each do |menu_name, url|
              %li
                %a{href: url}= menu_name


        .clearfix

      .breadcrumbs
        you are here > home > about

    .container
      = yield

    %footer
