!!!
%html
  %head
    %title New Earth Project
    %meta{content: "text/html; charset=US-ASCII", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", name: "viewport"}/
<<<<<<< HEAD
    
    = render partial: 'shared/base_assets'

    :coffeescript
      App.Vars.currentMember = new App.Models.Member(#{current_member.to_json})

    = yield :head
    
  %body{id: section_slug, class: [section_slug, subsection_slug]}
    
    %header
      = render partial: 'layouts/top_menu'
      =# render partial: 'layouts/flash_messages', flash: flash
      = render partial: 'layouts/header'
      = render_breadcrumbs
      
    #content.container
      .inner-wrap
        = flash_messages
        = yield

    = render 'layouts/footer'
    = render 'layouts/analytics'
