!!!
%html
  %head
    %title Welcome to the New Earth
    %meta{content: "text/html; charset=US-ASCII", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", name: "viewport"}/
    = init_static_assets "base"
    = yield :head

  %body#splash
    #wrap
      %header
        = render 'layouts/top_menu'
        = render 'layouts/login_modal'
        = render 'layouts/header'
        = yield :menu
  
      = flash_messages
      = yield
  
      = render 'layouts/footer'
