!!!
%html
  %head
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Welcome to the New Earth
    = google_webfonts_init(   {google: ['Lato:100,300,400,700,900,400italic,700italic'] } )
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = yield :head

  %body#splash
    = render 'layouts/top_menu'
    = render partial: 'layouts/login_modal'

    %header
      .title-row

        .logo-wrapper
          .logo


      .spacer
        .video video!
      
      %nav#main-menu.h5.navbar-wrapper
        .navbar-collapse

          .mobile-nav
            %a{href: "#"}
              %i.icon-reorder
              Menu
          %ul.nav.navbar-nav.desktop-nav
            %li.locations.disabled
              %a{href: ""} locations
            %li.institute.disabled
              %a{href: about_institute_path} institute
            %li.new-earth
              %a{href: enter_path} enter new earth
            %li.exchange.disabled
              %a{href: ""} bank exchange
            %li.festival.disabled
              %a{href: ""} festival
        .clearfix

    = yield

    = render 'layouts/footer'
