!!!
%html
  %head
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Welcome to the New Earth
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = yield :head

  %body#splash
    = render 'layouts/top_menu'

    %header
      .title-row

        .logo-wrapper
          .logo


      .spacer
        %a.video{href: "#"}
          .icon
          %span watch the video
      
      %nav#main-menu.h5.navbar-wrapper
        .navbar-collapse
          %ul.nav.navbar-nav
            %li.locations
              %a{href: "#"} locations
            %li.institute
              %a{href: institute_path} institute
            %li.new-earth
              %a{href: enter_path} enter new earth
            %li.exchange
              %a{href: exchange_path} bank exchange
            %li.festival
              %a{href: festival_path} festival

    = yield

    = render 'layouts/footer'
