!!!
%html
  %head
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Welcome to the New Earth
    = init_static_assets "base"
    = yield :head

  %body#splash
    = render 'layouts/top_menu'
    = render 'layouts/login_modal'

    %header
      .title-row

        .logo-wrapper
          .logo

      .spacer
        %a.video{href: "#"}
          .icon
          %span watch the video
      
      %nav#main-menu.h5.navbar-wrapper
        .navbar-collapse
          .mobile-nav
            %a{href: "#"}
              %i.icon-reorder
              Menu
          %ul.nav.navbar-nav.desktop-nav
            %li.locations
              %a{href: "#"} locations
            %li.institute
              %a{href: institute_path} institute
            %li.new-earth
              %a{href: enter_path} enter new earth
            %li.exchange
              %a{href: exchange_path} bank exchange
            %li.festival
              %a{href: festival_path} festival
        .clearfix

    = yield

    = render 'layouts/footer'
