!!!
%html
  %head
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Welcome to the New Earth
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = yield :head

  %body#splash
    = render partial: 'layouts/top_menu'

    %header
      .title-row

        .logo-wrapper
          .logo


      .spacer
        .video video!
      
      %nav#main-menu.h5.navbar-wrapper
        .navbar-collapse
          %ul.nav.navbar-nav
            %li.locations
              %a{href: ""} locations
            %li.institute
              %a{href: about_institute_path} institute
            %li.new-earth
              %a{href: declaration_members_path} enter new earth
            %li.exchange
              %a{href: ""} bank exchange
            %li.festival
              %a{href: ""} festival

    = yield

    %ul#bottom-menu
      %li.spacer
      %li.locations
        %a{href: '#'} locations 
      %li.institute
        %a{href: about_institute_path} institute
      %li.new-earth
        %a{href: declaration_members_path} new earth
      %li.exchange
        %a{href: '#'} exchange
      %li.festival
        %a{href: '#'} festival
      %li.spacer


    %footer
      © New Earth Project 2013