!!!
%html
  %head
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Welcome to the New Earth
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    = render partial: 'layouts/top_menu'

    %header#splash
      .title-row

        .logo-wrapper
          .logo
            .logo-image
            new earth project


      .spacer
        .video video!
      
      %nav#main-menu.navbar-wrapper
        .navbar-collapse
          %ul.nav.navbar-nav
            %li.locations
              %a{href: ""} locations
            %li.institute
              %a{href: ""} institute
            %li.new-earth
              %a{href: ""} enter new earth
            %li.exchange
              %a{href: ""} bank exchange
            %li.festival
              %a{href: ""} festival



  = yield

  %footer
    %br
    %br
    %br
    %br
    %a{href: "/institute/about"} go to institute page